:root {
    --text-color: #f5fef5;
    --page-bg: teal;
    --page-bg-rgba: rgba(0, 128, 128, 0.5);
    --box-shadow-color: gray;

    --transition: ease-in-out 100ms;

    /* responsive font sizes */
    --font-size-large: calc(1.25rem + 1.5vmin);
    --font-size-medium: calc(1.25rem + 1.5vmin);
    --font-size-small: calc(1rem + 1vmin);
    --font-size-small-extra: calc(0.5rem + 1vmin);

    --gap: 1rem;

    --box-shadow: 0px 0px 10px 1px gray;
    --blur: blur(1rem) brightness(0.5);
}

* {
    margin: 0;
    font-family: "Consolas", "Lucida Console", monospace, "Tahoma", sans-serif;
}
.button-link-icon {
    filter: invert(0.9);
    width: 60%;
    height: 2rem;
}
.button-link {
    text-decoration: none;
    color: var(--text-color);
    border-radius: 1rem;
    /* background: var(--page-bg-rgba); */
    backdrop-filter: brightness(0.75);

    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    place-items: center;

    gap: 0 1rem;

    padding: 1rem 0;

    transition: all var(--transition);
}
.button-link:hover {
    backdrop-filter: brightness(1.25);
}
.section-header-title {
    text-align: left;
}
#test-rem {
    background-color: purple;
}
#test-vh {
    background-color: black;
}
#test-vmin {
    background-color: azure;
}
.section-header {
    font-size: var(--font-size-large);
    font-weight: bold;
}
/* ------------- #container ------------- */
#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50vh, 2fr) repeat(2, minmax(30vh, 1fr));
    /* justify-content: center; */
    /* background: darkred; */

    gap: 5vh 0;
    padding: 5vh 5%;
}
/* ------------- body ------------- */
body {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;

    background: var(--page-bg);
    color: var(--text-color);

    min-height: 100vh;

    /* row-gap: var(--gap); */
}
/* ------------- #header ------------- */
#header {
    display: grid;
    align-items: center;
    border-bottom: thin solid var(--text-color);
    text-align: center;

    position: sticky;
    top: 0;
    background-color: var(--page-bg-rgba);
    z-index: 99;

    box-shadow: var(--box-shadow);
    backdrop-filter: var(--blur);
}

/* ------------- #me-section ------------- */
.me-text {
    /* border: 1px solid; */
    font-size: var(--font-size-medium);
    font-style: italic;
}
.name {
    font-weight: bold;
    font-style: normal;
}
#me-list {
    padding-left: 0;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: var(--font-size-small-extra) 0;

    font-size: var(--font-size-small);
    font-style: italic;
}
.me-list-item {
    display: grid;
    grid-template-rows: auto 1fr;

    align-items: start;
    gap: var(--font-size-small-extra) 0;
}

.container-me-list-item-text {
}
.container-me-list-item-text::before {
    content: "⮞ ";
}
#me-section {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr; /* repeat(auto-fit, minmax(150px, 1fr)) */
    grid-template-rows: 1fr 1fr 4fr;

    justify-content: start;
    align-items: start;
}
/* ------------- container-me-list-list ------------- */
.container-me-list-list {
    padding-left: 10%;
    list-style-type: none;
    display: grid;
    justify-items: start;

    gap: var(--font-size-small-extra) 0;
}
/* ------------- the tag list item ------------- */
.tech-tag {
    font-size: var(--font-size-small-extra);
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: calc(var(--font-size-small-extra) / 4);
    align-items: center;

    backdrop-filter: brightness(0.85);
    border-radius: 0.5rem;
}
/* ------------- the ICON inside the tafe ------------- */
.tech-tag::before {
    content: "";
    filter: invert(1);
    background-size: contain;
    background-repeat: no-repeat;
    width: var(
        --font-size-small-extra
    ); /* must be otherwise no image is show */
    height: var(
        --font-size-small-extra
    ); /* must be otherwise no image is show */
}
.tech-tag-react::before {
    background-image: url("./assets/react.svg");
}
.tech-tag-react-redux::before {
    background-image: url("./assets/redux.svg");
}
.tech-tag-py::before {
    background-image: url("./assets/python.svg");
}
.tech-tag-js::before {
    background-image: url("./assets/square-js.svg");
}
.tech-tag-java::before {
    background-image: url("./assets/java.svg");
}
.tech-tag-cert::before {
    background-image: url("./assets/certificate-solid.svg");
}
/* ------------- #portfolio-section ------------- */

#portfolio-section {
    display: grid;
    /* grid-template-rows: auto 2fr; */
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 1rem 0;
}
#container-portfolio-link::before {
}
#portfolio-section .button-link-icon {
    width: var(--font-size-medium);
    height: var(--font-size-medium);
}
#portfolio-section .button-link-text {
    font-size: var(--font-size-medium);
    font-weight: bold;
}
#portfolio-section-header {
    display: none;
}
/* ------------- #contact-section ------------- */
#contact-section {
    display: grid;
    /* grid-template-rows: auto; */
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 1rem 0;
}
#portcontactfolio-section .button-link-icon {
    width: var(--font-size-medium);
    height: var(--font-size-medium);
}
#contact-section .button-link-text {
    font-size: var(--font-size-small);
}
#contact-section-header {
    display: none;
}
/* ------------- #footer ------------- */
#footer-by {
    /* width: fit-content; */
    text-align: center;
}
#footer {
    display: grid;
    align-items: center;
    border-top: thin solid var(--text-color);

    position: sticky;
    bottom: 0;
    background: var(--page-bg-rgba);
    z-index: 99;

    box-shadow: var(--box-shadow);
    backdrop-filter: var(--blur);
}
/* ------------- media queries ------------- */
@media only screen and (max-width: 280px) {
    #container {
    }
}
@media only screen and (min-width: 280px) {
    #container {
    }
}
@media only screen and (min-width: 375px) {
    #container {
    }
}
