:root {
    --text-color: snow;
    --transparent-color: transparent;
    --page-background-color: darkslategray;
    --page-background-color-rgba: rgba(47, 79, 79, 0.5);
    --box-shadow-color: gray;
    --zero-margin: 0px;
    --project-ink-border-width: 1px;
    --grid-gap-margin: 1rem;
    --icon-size: 2rem;
    --contact-icon-size: 1rem;
    --icon-gap: 1rem;
}

* {
    margin: 0;
    font-family: "Consolas", "Lucida Console", monospace, "Tahoma", sans-serif;
}

body {
    
    background-image: linear-gradient(to right bottom, #2f4f4f, #096056, #007052, #007e41, #228b22);    color: var(--text-color);
    min-height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 0.25fr) minmax(auto, 5fr) minmax(auto, 0.25fr);
    align-content: stretch;
    align-items: stretch;
    justify-items: stretch;
    row-gap: 1rem;
}

#main {
    grid-column: 1;
    display: grid;
    
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
    grid-template-rows: minmax(auto, 1fr) minmax(auto, 0.175fr);
    row-gap: 2rem;
    
    align-content: center;
    align-items: stretch;

    border: none;
    overflow-wrap: anywhere;
}
a {
    
    color : var(--text-color); /*simulate Dark Mode*/
}
.icon {
    filter: invert(0.9);
}
.section{
    grid-column: 2;
}



#main-header {
    grid-template-columns:  0.175fr 1fr 0.175fr;
    z-index: 99;/*important: without it hover on .project-item will nullify blur effect*/
    background-color: var(--page-background-color);

    grid-column: 1;
    display: grid;
    align-items: stretch;

    position: sticky;
    top: 0;
    /*backdrop-filter: blur(0.5rem);*/
    width: 100%;

    border: none;

    border-bottom: 1px dotted;

    text-align: center;
    padding-top: var(--grid-gap-margin) ;
    padding-bottom: var(--grid-gap-margin) ;

    margin-bottom: 1rem;
    
}
#back-button {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    background-color: transparent;
    border: 1px solid gray;

    grid-column: 1;
    grid-row: 1;

    transition: all 200ms;
}
#back-button:hover {
    backdrop-filter: brightness(2);
}
#back-button-icon {
    width: calc( var(--icon-size) / 2 );
    height: calc( var(--icon-size) / 2 );
}
#main-title {
    grid-column: 2;
    grid-row: 1;
    overflow-wrap: normal;
}
.about-me-section {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fill,1fr);
    align-items: center;
}
.about-me-text {
    font-style: italic;
    font-size: 2rem;
}

#main-title {
    overflow-wrap: normal;
}

.name {
    font-size: 3rem;
    font-weight: bold;
}
.contact-section {

    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: stretch;

    column-gap: 1rem;

}
/*-------------------------*/

.contact-link-linkedin {
    grid-column: 1;
    grid-row: 1;
}
.contact-link-github {
    grid-column: 2;
    grid-row: 1;
}



/*-------------------------*/

#footer {
    background-color: var(--page-background-color-rgba);
    
    grid-column: 1;
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr;
    row-gap: 0;

    
    position: sticky;
    bottom: 0;
    backdrop-filter: blur(0.5rem);
    
    text-align: center;
    border-top: 1px dotted;
    border-right: none;
    border-left: none;

    justify-content: center;
    align-content: stretch;
    align-items: center;
}
.my-hr{
    width: 17.5%;
    border: none;
    border-bottom: 1px dotted snow;
    justify-self: center;

}
#footer *{
    margin: 0;
}

.contact-link {

    display: grid;
    grid-template-columns: 0.25fr 1fr;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
    gap: calc(var(--icon-gap) / 2);
    flex-wrap: wrap;
    border: 1px solid gray;
    padding: 0.5rem 0;
    transition: all 200ms;

}
.contact-link:hover {
    backdrop-filter: brightness(2);
    border: 1px solid snow;
    font-weight: bold;

}
.footer-link-icon {
    display: inline;
    height: 2rem;
    justify-self: center;
}

/* if viewport is <803px switch to
responive mode */
@media screen and (max-width: 805px) {
	body {
		background-color: red;
	}

}