:root {
  --text-color: #f5fef5;
  --page-bg: teal;
  --page-bg-rgba: rgba(0, 128, 128, 0.5);
  --box-shadow-color: gray;

  --transition: ease-in-out 100ms;

  /* responsive font sizes */
  --font-size-large: calc(1.25rem + 1.5vmin);
  --font-size-medium: calc(1.25rem + 1.5vmin);
  --font-size-small: calc(1rem + 1vmin);

  --gap: 1rem;

  --box-shadow: 0px 0px 10px 1px gray;
  --blur: blur(1rem) brightness(0.5);
}

* {
  margin: 0;
  font-family: "Consolas", "Lucida Console", monospace, "Tahoma", sans-serif;
}
.button-link-icon {
  filter: invert(0.9);
  width: 60%;
  height: 2rem;
}
.button-link {
  text-decoration: none;
  color: var(--text-color);
  border-radius: 1rem;
  /* background: var(--page-bg-rgba); */
  backdrop-filter: brightness(0.75);

  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  place-items: center;

  gap: 0 1rem;

  padding: 1rem 0;

  transition: all var(--transition);
}
.button-link:hover {
  backdrop-filter: brightness(1.25);
}
.section-header-title {
  text-align: left;
}
#test-rem {
  background-color: purple;
}
#test-vh {
  background-color: black;
}
#test-vmin {
  background-color: azure;
}
.section-header {
  font-size: var(--font-size-large);
  font-weight: bold;
}
/* ------------- #container ------------- */
#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(30vh, 1fr));
  /* justify-content: center; */
  /* background: darkred; */

  gap: 5vh 0;
  padding: 5vh 5%;
}
/* ------------- body ------------- */
body {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;

  background: var(--page-bg);
  color: var(--text-color);

  min-height: 100vh;

  /* row-gap: var(--gap); */
}
/* ------------- #header ------------- */
#header {
  display: grid;
  align-items: center;
  border-bottom: thin solid var(--text-color);
  text-align: center;

  position: sticky;
  top: 0;
  background-color: var(--page-bg-rgba);
  z-index: 99;

  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
}

/* ------------- #me-section ------------- */
.me-text {
  /* border: 1px solid; */
  font-size: var(--font-size-medium);
  font-style: italic;
}
.name {
  font-weight: bold;
  font-style: normal;
}
#me-list {
  /* border: 1px solid; */
  font-size: var(--font-size-small);
  font-style: italic;
  line-height: 1.25;
}
.me-list-item::marker {
  content: "⮞ ";
}
#me-section {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr; /* repeat(auto-fit, minmax(150px, 1fr)) */
  justify-content: start;
  align-items: center;
}
/* ------------- #portfolio-section ------------- */

#portfolio-section {
  display: grid;
  /* grid-template-rows: auto 2fr; */
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 1rem 0;
}
#portfolio-section .button-link-icon {
  width: var(--font-size-medium);
  height: var(--font-size-medium);
}
#portfolio-section .button-link-text {
  font-size: var(--font-size-medium);
  font-weight: bold;
}
#portfolio-section-header {
  display: none;
}
/* ------------- #contact-section ------------- */
#contact-section {
  display: grid;
  /* grid-template-rows: auto; */
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 1rem 0;
}
#portcontactfolio-section .button-link-icon {
  width: var(--font-size-medium);
  height: var(--font-size-medium);
}
#contact-section .button-link-text {
  font-size: var(--font-size-small);
}
#contact-section-header {
  display: none;
}
/* ------------- #footer ------------- */
#footer-by {
  /* width: fit-content; */
  text-align: center;
}
#footer {
  display: grid;
  align-items: center;
  border-top: thin solid var(--text-color);

  position: sticky;
  bottom: 0;
  background: var(--page-bg-rgba);
  z-index: 99;

  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
}
/* ------------- media queries ------------- */
@media only screen and (max-width: 280px) {
  #container {
  }
}
@media only screen and (min-width: 280px) {
  #container {
  }
}
@media only screen and (min-width: 375px) {
  #container {
  }
}
