:root {
  --text-color: snow;

  --bg: teal;

  --bg-rgba: rgba(0, 128, 128, 0.75);

  --transition: ease-in-out 100ms;

  --thin-border: thin solid var(--text-color);
  --medium-border: medium solid var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Consolas", "Lucida Console", monospace, "Tahoma", sans-serif;
}

.hide {
  visibility: hidden;
  z-index: -999;
}
.invert-icon {
  filter: invert(1);
}
.scale-90 {
  scale: 0.9;
}
.scale-100 {
  scale: 1;
}
.show {
  visibility: shown;
  z-index: 999;
}
/* --------------- body --------------- */

body {
  background: var(--bg);
  color: var(--text-color);
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-areas:
    "header"
    "main"
    "footer";

  gap: 0rem;
}
/* --------------- #header --------------- */
#title {
  grid-area: title;
  align-self: center;
  text-align: center;
}
#home-button-icon {
  width: 1.5rem;
  height: 1.5rem;
  place-self: center;
}
#home-button-text {
  display: none;
}
#home-button {
  grid-area: icon;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "icon";
  filter: brightness(0.9);
}
#home-button:hover {
  backdrop-filter: brightness(1.5);
}
#header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". title icon";
  border-bottom: var(--thin-border);

  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--bg);
}
/* --------------- #iframe-outer-container --------------- */
#iframe-outer-container {
  /* grid-area: main; */
  /* z-index: 999; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* 100vw; */
  height: 100%; /* 100vh; */
  /* background-color: red; */
  backdrop-filter: blur(20rem);

  display: grid;

  grid-template-columns: 0px 100% 0px;
  grid-template-rows: 5% 90% 5%;

  place-content: center;

  grid-template-areas:
    ". . ."
    ". iframe-container ."
    ". . .";
}
#iframe-container {
  grid-area: iframe-container;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    ". button"
    "iframe iframe";

  /* background-color: red; */
  border: var(--medium-border);
  background-color: var(--bg);

  border-radius: 1rem;
  overflow: hidden;
}

/* button */
#iframe-outer-container-close {
  grid-area: button;
  background: var(--bg-rgba);

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  font-size: 1rem;
  font-weight: bold;

  color: var(--text-color);
  place-items: center;
  align-content: center;

  border: none;
  border-left: var(--thin-border);

  cursor: pointer;
}
#iframe-outer-container-close:hover {
  backdrop-filter: brightness(2);
}
#iframe-outer-container-close-icon {
  width: 2rem;
  height: 2rem;
}
#iframe {
  grid-area: iframe;
  width: 100%;
  height: 100%;

  border: none;
  border-top: var(--medium-border);
}

/* --------------- #portfolio --------------- */
.library-icon {
  width: 1.25rem;
  height: 1.25rem;
}
.project-stack-name {
  font-size: 100%;
}
.project-stack-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  place-items: center;
}
.project-stack {
  grid-area: stack;
  align-self: stretch;
  display: grid;
  align-content: space-evenly;
  list-style-type: none;

  filter: brightness(0.9);
}
.project-item-text {
  grid-area: text;
  font-size: 1.5rem;
  text-align: center;
  justify-self: center;
}
.project-item-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  grid-area: image;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.project-item {
  --border-radius: 1rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "image image"
    "stack text";

  border-radius: var(--border-radius);
  overflow: hidden;

  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;

  padding: 1rem;
  gap: 0.5rem 0.5rem;

  backdrop-filter: brightness(0.75);

  place-items: center;

  transition: var(--transition);
}
.project-item:hover {
  backdrop-filter: brightness(1.25);
}
#portfolio {
  grid-area: main;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: 1fr;

  gap: 2rem 5rem;
  padding: 5% 0;
}
/* ------------- #footer ------------- */
#footer {
  grid-area: footer;
  display: grid;
  place-items: center;
  border-top: var(--thin-border);
  text-align: center;
}
/* ------------- media queries ------------- */
/* width mobile small */
@media only screen and (min-width: 375px) {
  #portfolio {
    /* bug fix can't use #portfolio>pading:5% 5% */
    margin: 0 5%;
  }
}

/* width mobile medium */
@media only screen and (min-width: 375px) {
}

/* width mobile large */
@media only screen and (min-width: 425px) {
  #iframe-outer-container {
    grid-template-columns: 5% 90% 5%;
  }
  .library-icon {
    width: 2rem;
    height: 2rem;
  }
}

/* width tablet */
@media only screen and (min-width: 768px) {
  #home-button {
    border-left: thin solid lightgray;
  }
  #iframe-outer-container {
    grid-template-columns: 10% 80% 10%;
  }
}

/* height */
@media only screen and (min-height: 768px) {
  #iframe-outer-container {
    grid-template-rows: 10% 80% 10%;
  }
}
