html {
    overflow: hidden;
}
body {
    my-header {
        nav {
            grid-template-columns: repeat(auto-fit, minmax(8rem, auto));
            column-gap: var(--padding-block-base);
        }
        scroll-snap-align: start;
        height: 30vh;
    }
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.102' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='15' specularConstant='0.75' specularExponent='20' lighting-color='%23ff6600' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='100'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='specularLighting' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='transparent'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23ff6600' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E"); */
    background: var(--theme-white-bg);
    color: var(--theme-white-text);

    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}
main {
    & > * {
        overflow-y: hidden;
        align-content: center;
    }

    about-section {
        height: 70vh;
    }
    blog-projects {
        height: 100vh;
        scroll-snap-align: start !important;
    }
    contact-section {
        height: 100vh;
        scroll-snap-align: start !important;
    }

    display: contents;
}
about-section {
    p {
        &:first-child {
            line-height: 1;
        }
        line-height: 1.5;
    }

    padding: var(--padding-block-large);
    padding-block-start: 0;
    font-size: var(--font-size-large);

    display: grid;
    row-gap: var(--padding-block-base);
}
blog-projects {
    nav-button > a {
        grid-template-areas: "text icon";
        grid-template-columns: max-content 1em;
        row-gap: 0;
        column-gap: var(--padding-block-tiny);
        justify-content: center;
    }
}
contact-section {
    .button-link {
        border-radius: var(--font-size-large);
    }

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    column-gap: var(--padding-block-large);
    row-gap: var(--padding-block-base);

    padding-inline: var(--padding-block-large);
    padding-block: var(--main-row-gap);
}
social-media {
    .title {
        grid-area: title;
    }
    svg {
        grid-area: icon;
        width: 100%;
        max-height: 100%;
    }
    a {
        display: grid;
        grid-template-areas: "icon title";
        grid-template-columns: var(--font-size-large) max-content;
        grid-template-rows: var(--font-size-large);
        align-items: center;
        column-gap: var(--padding-block-tiny);
    }
}
