:root {
    --text-color: snow;
    --transparent-color: transparent;
    --page-background-color: darkslategray;
    --page-background-color-rgba: rgba(47, 79, 79, 0.5);
    --box-shadow-color: gray;
    --zero-margin: 0px;
    --project-ink-border-width: 1px;
    --grid-gap-margin: 1rem;
    --icon-size: 2rem;
    --contact-icon-size: 1rem;
    --icon-gap: 1rem;
    --portfolio-width: 25%;
    --iframe-width: calc(100% - var(--portfolio-width));
}

* {
    margin: 0;
    font-family: "Consolas", "Lucida Console", monospace, "Tahoma", sans-serif;
}

body {
    
    background-image: linear-gradient(to right bottom, #2f4f4f, #096056, #007052, #007e41, #228b22);    color: var(--text-color);
    min-height: 100vh;
    
    display: grid;
    grid-template-columns: minmax(0,var(--portfolio-width)) minmax(0,var(--iframe-width));
    grid-template-rows: minmax(auto, 0.25fr) minmax(auto, 5fr) minmax(auto, 0.25fr);
    align-content: stretch;
    align-items: stretch;
    justify-items: stretch;
}

#main {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    
    border: none;
    overflow-wrap: anywhere;
}
a {
    
    color : var(--text-color); /*simulate Dark Mode*/
}
.icon {
    filter: invert(0.9);
}
.theiframe {
    grid-column: 2;
    grid-row: 1/4;
    align-self: stretch;
    justify-self: stretch;
    
    position: fixed;
    top: 0;
    margin: var(--zero-margin);
    left: calc(var(--portfolio-width));
    width: calc(var(--iframe-width));
    height: calc(100%);
    border: 1px solid gray;
}

#main-header {
    z-index: 99;/*important: without it hover on .project-item will nullify blur effect*/
    background-color: var(--page-background-color);

    grid-template-columns:  0.175fr 1fr 0.175fr;
    grid-column: 1;
    display: grid;
    align-items: stretch;

    position: sticky;
    top: 0;
    backdrop-filter: blur(0.5rem);
    
    border: none;

    border-bottom: 1px dotted;

    text-align: center;
    padding: var(--grid-gap-margin) ;

   
    
}
#back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    cursor: pointer;
    background-color: transparent;
    border: 1px solid gray;

    grid-column: 1;
    grid-row: 1;

    transition: all 200ms;
}
#back-button:hover {
    backdrop-filter: brightness(2);
}
#back-button-icon {
    width: calc( var(--icon-size) / 2 );
    height: calc( var(--icon-size) / 2 );
}
#main-title {
    grid-column: 2;
    grid-row: 1;
    overflow-wrap: normal;
}

.projects-header {
    margin-top: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: var(--icon-gap);
}
.projects-header-icons {
    display: flex;
    align-items: center;
    /*background-color: red;*/
    justify-content: center;
    column-gap: 0.5rem;
    flex-wrap: wrap;
}
.projects-header-name{
    /*background-color: green;*/
    text-align: center;
}
.library-icon {
    display: inline;
    width: var(--icon-size);
}

.projects-section {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}
.project-item {
    display: grid;
    align-content: center;
    border-radius: 1rem;

    text-align: center;
    transition: all 200ms;
    box-shadow: -4px 4px 0px 1px gray;
    margin: 0 var(--grid-gap-margin);
    margin-bottom: -0.5rem;
    border: 1px solid;
}

.project-item:hover {
    backdrop-filter: brightness(1.5);
    box-shadow: -4px 4px 0px 1px snow;
}	

.project-item:active {
    box-shadow: -4px 4px 0px 1px black;
}	

.project-link {
    display: block;
    text-decoration: none;
    padding: 1rem;
    border:none;
}


#footer {
    background-color: var(--page-background-color-rgba);
    
    grid-column: 1;
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr;
    row-gap: 0;

    
    position: sticky;
    bottom: 0;
    backdrop-filter: blur(0.5rem);
    
    text-align: center;
    border-top: 1px dotted;
    border-right: none;
    border-left: none;

    justify-content: center;
    align-content: stretch;
    align-items: center;
}
.my-hr{
    width: 17.5%;
    border: none;
    border-bottom: 1px dotted snow;
    justify-self: center;

}
#footer *{
    margin: 0;
}
#footer-by {
    padding-top: 0.25rem;
}
#footer-name {
    padding: 0.25rem 0;
}
.footer-link {
    align-self: stretch;
    display: grid;
    grid-template-columns: minmax(0,1fr) 2fr minmax(0,0.5fr);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    gap: calc(var(--icon-gap) / 2);
    flex-wrap: wrap;
    border: 1px solid transparent;
    border-bottom: 1px solid snow;
    padding: 0.5rem 0;
    transition: all 200ms;
}
.footer-link:hover {
    backdrop-filter: brightness(2);
    border: 1px solid snow;
}
.footer-link-icon {
    display: inline;
    height: var(--contact-icon-size);
    justify-self: right;    
}

/* if viewport is <803px switch to
responive mode */
@media screen and (max-width: 1300px) {
	#main-header {
		padding-left: 0;
        padding-right: 0;
	}

}
