:root {
    --text-color: snow;
    --transparent-color: transparent;
    --page-background-color: darkslategray;
    --page-background-color-rgba: rgba(47, 79, 79, 0.5);
    --box-shadow-color: gray;
    --zero-margin: 0px;
    --project-ink-border-width: 1px;
    --grid-gap-margin: 1rem;
    --icon-size: 2rem;
    --contact-icon-size: 1rem;
    --icon-gap: 1rem;
}

* {
    /*outline: 2px solid red; */
}

body {
    font-family: "Consolas", "Lucida Console", monospace, "Tahoma", sans-serif;
    background-color:	var(--page-background-color); /*simulate Dark Mode*/
    color : var(--text-color);
    min-height: 100vh;
    margin: 0;
    
    /*grid*/
    display: grid;
    grid-template-columns: minmax(0,20%) minmax(0,80%);
    grid-auto-rows: auto;
    align-content: start;
    align-items: center;
    justify-items: stretch;
}

main {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    overflow-wrap: anywhere;
}
main > h1 {
    overflow-wrap: normal;
}
main > p , main h2 , main h3 {
    overflow-wrap: anywhere;
    text-align: center;
}
a {
    
    color : var(--text-color); /*simulate Dark Mode*/
}


/*select all direct descendants except .theiframe*/
body > *:not(.theiframe) {
    grid-column: 1;
}

/*select all direct descendants except */
main > *:not(.main-title, footer) {
    margin: auto var(--grid-gap-margin);
}

.theiframe {
    grid-column: 2;
    grid-row: 1/4;
    align-self: stretch;
    justify-self: stretch;
    
    position: fixed;
    top: 0;
    margin: var(--zero-margin);
    left: calc(20%);
    width: calc(100% - 20%);
    height: calc(100%);
    border: 1px solid gray;
}

.main-title {
    position: sticky;
    top: 0;
    background-color: var(--page-background-color-rgba);
    backdrop-filter: blur(0.5rem);
    border: none;

    text-align: center;
    margin: var(--zero-margin) var(--zero-margin) var(--grid-gap-margin) var(--zero-margin);
    padding-top: var(--grid-gap-margin) ;
    padding-bottom: var(--grid-gap-margin) ;
    border-bottom: 1px dotted;
}	
h1 {

}

.all-projects-section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--icon-gap);
    flex-wrap: wrap;
}

.library-icon {
    display: inline;
    filter: invert(90%);
    width: var(--icon-size);
}

.contact-icon {
    display: inline;
    filter: invert(90%);
    width: var(--contact-icon-size);
}

.project-item {
    text-align: center;
    transition: all 200ms;
    box-shadow: -4px 4px 0px 1px gray;
    margin: var(--grid-gap-margin) var(--zero-margin);
    border: 1px solid;
}

.project-item:hover {
    backdrop-filter: brightness(1.5);
    box-shadow: -4px 4px 0px 1px snow;
}	

.project-item:active {
    box-shadow: -4px 4px 0px 1px black;
}	

.project-link {
    display: block;
    text-decoration: none;
    padding: 1rem;
    border:none;
}
.project-link:hover {
    
}

footer {
    position: sticky;
    bottom: 0;
    background-color: var(--page-background-color-rgba);
    backdrop-filter: blur(0.5rem);
    text-align: center;
    border-top: 1px dotted;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--icon-gap) / 2);
    flex-wrap: wrap;
}