body {
		font-family: tahoma, sans-serif;
		width: 70%;		
		margin: auto;
		}


	li {
		margin-top: 2em;
		margin-bottom: 2em;}
	
	ul {
		list-style: none }
	
	.bulletin {
		list-style: disc; }
	
	a {
		color: mediumblue;
		opacity: 0.7;
	}
	nav a {
		text-decoration : none;
	}
	
	address {
		font-style: normal;
	}
	section { 
		border-style: groove;
		border-width: 0.2em;
		padding: 2em;
		margin-bottom: 2em;
		margin-top: 2em;
		}
		
	#personal {
		display: grid;
		grid-template-areas:
		'a i'
		'b i'
		'c i';
		justify-content: space-between;
		align-content:space-around;	
	}
	
	#personal  header {
		grid-area: a; 
	}
	
	#personal  img {
		grid-area: i;
	}

	details {
		margin-bottom : 2rem;
		border:groove;
	}
	details time {
		margin: auto 1rem;
	}
	summary {
		display: flex;
		padding : 1rem;
		justify-content:space-between;
	}
	section {
		color : purple;
	}
	
	section header {
		
		color: orange;
		
	}
	
	